<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PTR.PTRLib.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!--<connectionStrings>
		<add name="PTRContext" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALPHA\ALPHA;initial catalog=ptr;persist security info=True;user id=PTR_generic;password=AGXM97mm)a;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>-->
	<connectionStrings>
		<add name="PTRContext" connectionString="metadata=res://*/PTREDM.csdl|res://*/PTREDM.ssdl|res://*/PTREDM.msl;provider=System.Data.SqlClient;provider connection string='data source=ALPHA/ALPHA;initial catalog=ptr;persist security info=True;user id=PTR_generic;password=AGXM97mm)a;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
	</connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <userSettings>
    <PTR.PTRLib.Settings>
      <setting name="ExportPath" serializeAs="String">
        <value>C:\Users\AUljanovs\Documents</value>
      </setting>
      <setting name="ExportOpenFile" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExportOpenFolder" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExportExpand" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExportAllowHistoricalData" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WindowStartWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowStartHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowStartX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowStartY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowLastView" serializeAs="String">
        <value>0</value>
      </setting>
    </PTR.PTRLib.Settings>
  </userSettings>
</configuration>